@use 'variables' as *;
@use 'breakpoints' as *;

.mainContainer {
  padding: $vertical-spacing-desktop-xl $horizontal-spacing-desktop;
  position: relative;

  @include mobile {
    padding: $vertical-spacing-mobile $horizontal-spacing-mobile;
  }

  &__content {
    max-width: $container-max-width;
    margin: 0 auto;
  }
}
