@use 'theme-mixins' as *;

.skeleton {
  background-color: theme-color(element-color);
  border-radius: 0.8rem;
  height: 100%;
  overflow: hidden;

  &__image {
    width: 100%;
    aspect-ratio: 264/160;
    background-size: 200% 100%;
    @include shimmer;
  }

  &__content {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__title {
    height: 2.7rem;
    width: 80%;
    background-size: 200% 100%;
    @include shimmer;
    border-radius: 0.4rem;
  }

  &__text {
    height: 1.6rem;
    background-size: 200% 100%;
    @include shimmer;
    border-radius: 0.4rem;

    &:nth-child(2) {
      width: 60%;
    }
    &:nth-child(3) {
      width: 50%;
    }
    &:nth-child(4) {
      width: 70%;
    }
  }
}
