//Colors
$blue-900: #2b3743; // Dark Mode Elements
$blue-950: #202c37; // Dark Mode Background
$grey-950: #111517; // Light Mode Text
$grey-400: #858585; // Light Mode Input
$grey-50: #fafafa; // Light Mode Background
$white: #ffffff; // Dark Mode Text & Light Mode Elements

// Typography

$font-family-base: var(--font-nunito-sans), 'Nunito Sans', sans-serif;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;

$font-size-homepage: 1.4rem;
$font-size-detail: 1.6rem;

// Transitions

$transition-base: all 0.2s ease-in-out;
$transition-fast: all 0.1s ease-in-out;
$transition-slow: all 0.3s ease-in-out;
