@use 'variables' as *;
@use 'breakpoints' as *;
@use 'theme-mixins' as *;

.navbar {
  padding: $vertical-spacing-desktop $horizontal-spacing-desktop;
  @include theme(background-color, element-color);
  box-shadow: 0 4px 4px theme-color(shadow-color);

  @include mobile {
    padding: $vertical-spacing-mobile $horizontal-spacing-mobile;
  }

  &__container {
    margin: 0 auto;
    max-width: 144rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
